<meta charset="utf-8">
<input type="text">
<button>실행</button>
<div></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	//                      속성 선택자
	const btn = document.querySelector("button");
	btn.addEventListener("click", ( event ) => {
		event.preventDefault(); // 기본 기능 중지
		
		const address = document.querySelector("input").value;
			
		const res = axios({
			url: "/getKakao",
			method: "get",
			params: {
				"address": address // 마음대로 name 
			}
		});
		res.then((result) => {
			console.log(result.data);
		});
	});
</script>








